/* Inicialización */
*{
    border: 0;
    margin: 0;
    padding: 0;
    font-family: "Moderustic", sans-serif;
}

/* Fuente */
.moderustic{
  font-family: "Moderustic", sans-serif;
  font-weight: 300;
  font-style: normal;
}

/* Fondo de la página */
body {
  background-image: url("../img/fondo.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 100px;
}

/* Formulario */
#preview {
  height: 200px;
  background-image: url(../img/lion.svg);
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
}

/* Tabla de Participantes */
#Animales {
  height: 100%;
  background: #f0f0f0;
}

#Animales div div {
  transition: all 200ms;
}

#Animales div >div:hover {
  box-shadow: 0px 1px 5px 1px;
}

.participante {
  max-width: 30%;
}

/* Archivo CSS */
.audio-button {
  background-color: #9AA2A2;
  color: white;
  border: none;
  padding: 2px 2px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  transition-duration: 0.4s;
  height: 35px;
  width: 100px;
  background-image: url('../img/sound.ico');
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: center;
  margin-right: 25px;
}

.audio-button:hover {
  background-color: black;
  color: white;
  border: 2px solid #DEC139; 
}

/* Modal */
.modal-dialog{
  max-width: 85% !important;
}

#modal-image{
  width: 90%;
  height: auto;
}

#modal-age, #modal-comments{
  font-size: small;
}

